@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Barlow';
  src: url('./assets/font/Barlow-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Barlow';
  src: url('./assets/font/Barlow-SemiBold.ttf');
  font-weight: 600;
}
@font-face {
  font-family: 'Barlow';
  src: url('./assets/font/Barlow-Bold.ttf');
  font-weight: 700;
}
@font-face {
  font-family: 'Harmonyos Sans';
  src: url('./assets/font/HARMONYOS_SANS.woff2');
}
.simplebar-content-wrapper {
  overflow: auto;
}
.simplebar-content {
  height: 100%;
}
.simplebar-scrollbar::before {
  background-color: rgba(219, 231, 238, 0.3);
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: 'Harmonyos Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* input autocomplete */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  box-shadow: 0 0 0px 1000px transparent inset !important;

  background-color: rgb(59,90,131) !important;
  
  -webkit-transition: background-color 60000s ease-in-out 0s!important;
  transition: background-color 60000s ease-in-out 0s!important;
  
  -webkit-text-fill-color: #fff;

  /* -webkit-background-clip: text; */
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
/* antd icon */
.anticon svg {
  height: 1em;
  width: 1em;
  vertical-align: -0.1em;
}
/* antd menu active */
.ant-menu-vertical .ant-menu-item::after, .ant-menu-vertical-left .ant-menu-item::after, .ant-menu-vertical-right .ant-menu-item::after, .ant-menu-inline .ant-menu-item::after {
  right: auto;
  left: 0;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-sub .ant-menu-item-selected {
  background: transparent !important;
}
/* antd upload */
.ant-upload.ant-upload-drag {
  background: #161d26;
}

/* antd table scrollbar */
.ant-table-body::-webkit-scrollbar {
  width: 10px;
  /* height: 1px; */
}
.ant-table-body::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  @apply rounded-br-md;
}
.ant-table-body::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  @apply rounded-br-md;
  background: rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: none;
}